Source: ros-kinetic-sick-scan
Section: misc
Priority: extra
Maintainer: Michael Lehning <michael.lehning@lehning.de>
Build-Depends: debhelper (>= 9.0.0), libusb-1.0-0-dev, ros-kinetic-catkin, ros-kinetic-diagnostic-updater, ros-kinetic-dynamic-reconfigure, ros-kinetic-roscpp, ros-kinetic-sensor-msgs
Homepage: http://wiki.ros.org/sick_tim
Standards-Version: 3.9.2

Package: ros-kinetic-sick-scan
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libusb-1.0-0, ros-kinetic-diagnostic-updater, ros-kinetic-dynamic-reconfigure, ros-kinetic-roscpp, ros-kinetic-sensor-msgs
Description: A ROS driver for the SICK TiM series of laser scanners.
 This package is based on the original sick_tim-repository of Martin Günther et al.
